In [41]:
import gmaps
import pandas as pd
import requests
import json
import time
import numpy as np

In [2]:
from config import gkey

In [3]:
#Configure gmaps
gmaps.configure(api_key=gkey)

In [4]:
#Bring in weather dataframe
weather_df = pd.read_csv('../VacationPy/weather_output_duplicate.csv')
weather_df.dropna(inplace=True)
weather_df.head()
cleaned_weather_df = weather_df[['City','Latitude','Longitude','Temp.(F)','Humidity (%)','Cloudiness(%)','Wind Speed(mph)','Max Temp']]
cleaned_weather_df

,City,Latitude,Longitude,Temp.(F),Humidity (%),Cloudiness(%),Wind Speed(mph),Max Temp
0,nikolskoye,59.70,30.79,57.31,67,38,2.24,59.00
1,bengkulu,-3.80,102.27,85.06,68,75,4.45,85.06
2,matata,-37.88,176.75,57.49,86,100,5.01,57.99
3,cayenne,4.93,-52.33,75.20,100,76,7.18,75.20
4,barrow,71.29,-156.79,48.20,70,40,3.36,48.20
...,...,...,...,...,...,...,...,...
596,jiazi,22.88,116.07,86.54,74,100,9.82,86.54
597,bukachacha,52.98,116.92,58.01,90,100,4.03,58.01
598,jalu,29.03,21.55,81.54,36,0,10.74,81.54
599,gbarnga,7.00,-9.47,62.80,98,47,2.08,62.80
600,kaitong,44.81,123.15,81.93,51,12,12.73,81.93

In [5]:
#Store Lat and Long in locations
locations = cleaned_weather_df[['Latitude', 'Longitude']]
locations

     Latitude  Longitude
0       59.70      30.79
1       -3.80     102.27
2      -37.88     176.75
3        4.93     -52.33
4       71.29    -156.79
..        ...        ...
596     22.88     116.07
597     52.98     116.92
598     29.03      21.55
599      7.00      -9.47
600     44.81     123.15

[601 rows x 2 columns]

In [6]:
humidity = cleaned_weather_df['Humidity (%)']
humidity

0       67
1       68
2       86
3      100
4       70
      ...
596     74
597     90
598     36
599     98
600     51
Name: Humidity (%), Length: 601, dtype: int64

In [7]:
#Plot heat map of humidity
# set up figure information first
fig = gmaps.figure()

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

In [8]:
#add heatmap layer to figure using gmaps
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False,
                                max_intensity = 10, point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Max temp lower than 80 degrees but higher than 70
ideal_weather_df = cleaned_weather_df.loc[(cleaned_weather_df['Max Temp'] > 70) & (cleaned_weather_df['Max Temp'] < 80)]
 
#Wind Speed less than 10 mph
ideal_weather_df = cleaned_weather_df.loc[(cleaned_weather_df['Wind Speed(mph)'] < 10)]

#Zero cloudiness
ideal_weather_df = cleaned_weather_df.loc[(cleaned_weather_df['Cloudiness(%)'] == 0)]

#Drop any rows with null values
ideal_weather_df = cleaned_weather_df.dropna()

ideal_weather_df

,City,Latitude,Longitude,Temp.(F),Humidity (%),Cloudiness(%),Wind Speed(mph),Max Temp
0,nikolskoye,59.70,30.79,57.31,67,38,2.24,59.00
1,bengkulu,-3.80,102.27,85.06,68,75,4.45,85.06
2,matata,-37.88,176.75,57.49,86,100,5.01,57.99
3,cayenne,4.93,-52.33,75.20,100,76,7.18,75.20
4,barrow,71.29,-156.79,48.20,70,40,3.36,48.20
...,...,...,...,...,...,...,...,...
596,jiazi,22.88,116.07,86.54,74,100,9.82,86.54
597,bukachacha,52.98,116.92,58.01,90,100,4.03,58.01
598,jalu,29.03,21.55,81.54,36,0,10.74,81.54
599,gbarnga,7.00,-9.47,62.80,98,47,2.08,62.80
600,kaitong,44.81,123.15,81.93,51,12,12.73,81.93

In [21]:
hotels_df = ideal_weather_df.loc[:,["City","Latitude","Longitude"]].head(50)
hotels_df["Hotel Name"] = ""
hotels_df

                    City  Latitude  Longitude Hotel Name
0             nikolskoye     59.70      30.79
1               bengkulu     -3.80     102.27
2                 matata    -37.88     176.75
3                cayenne      4.93     -52.33
4                 barrow     71.29    -156.79
5         ribeira grande     38.52     -28.70
6              kolosovka     56.47      73.61
7                 avarua    -21.21    -159.78
8                 albany     42.60     -73.97
9                isangel    -19.55     169.27
10               qaanaaq     77.48     -69.36
11                 pevek     69.70     170.31
12                noumea    -22.28     166.46
13               ushuaia    -54.80     -68.30
14          puerto ayora     -0.74     -90.35
15              souillac    -20.52      57.52
16             busselton    -33.65     115.33
17               rikitea    -23.12    -134.97
18              victoria     22.29     114.16
19             iranshahr     27.20      60.68
20               talnakh     69.49      88.40
21       bambous virieux    -20.34      57.76
22          longyearbyen     78.22      15.64
23               tautira    -17.73    -149.15
24                 yumen     40.28      97.20
25           tuktoyaktuk     69.45    -133.04
26             carnarvon    -24.87     113.63
27              thompson     55.74     -97.86
28            butaritari      3.07     172.79
29  vila franca do campo     37.72     -25.43
30              kalmunai      7.42      81.82
31             cape town    -33.93      18.42
32                 adrar     20.50     -10.07
33       novomykolayivka     47.98      35.91
34           yellowknife     62.46    -114.35
35                atuona     -9.80    -139.03
36              belmonte    -15.86     -38.88
37           broken hill    -31.95     141.43
38             upernavik     72.79     -56.15
39        puerto carreno      6.19     -67.49
40              cherskiy     68.75     161.30
41            chokurdakh     70.63     147.92
42                dikson     73.51      80.55
43          ponta do sol     32.67     -17.10
44                 bluff    -46.60     168.33
45             saskylakh     71.92     114.08
46              bismarck     46.81    -100.78
47             contamana     -7.33     -75.02
48               butembo      0.15      29.28
49             bathsheba     13.22     -59.52

In [26]:
#set up parameters dictionary
params = {
    "radius": 5000,
    "type": "lodging",
    "keyword": "hotel",
    "key":gkey
}

for index, row in hotels_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    city = row["City"]

    #Set coordinates for each iteration
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    #Put all together to form URL and make API call
    print(f"Retrieving Results for Index {index}:{city}." )
    response = requests.get(base_url, params=params).json()
    
    #Retrieve Results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotels_df.loc[index, "Hotel Name"] = results[0]['name']
    
    except (KeyError, IndexError):
        print("Missing Field/result...skipping.")
    
    print("---------------------")
        
    time.sleep(1)

print("-------- Search Completed--------")

Retrieving Results for Index 0:nikolskoye.
Missing Field/result...skipping.
---------------------
Retrieving Results for Index 1:bengkulu.
Closest hotel is Mercure Bengkulu.
---------------------
Retrieving Results for Index 2:matata.
Closest hotel is Matata Hotel.
---------------------
Retrieving Results for Index 3:cayenne.
Closest hotel is Royal Amazonia.
---------------------
Retrieving Results for Index 4:barrow.
Closest hotel is Top of the World Hotel.
---------------------
Retrieving Results for Index 5:ribeira grande.
Closest hotel is Quinta Das BuganvÃ­lias.
---------------------
Retrieving Results for Index 6:kolosovka.
Closest hotel is Kolosovskaya Gostinitsa.
---------------------
Retrieving Results for Index 7:avarua.
Closest hotel is Manuia Beach Resort.
---------------------
Retrieving Results for Index 8:albany.
Missing Field/result...skipping.
---------------------
Retrieving Results for Index 9:isangel.
Closest hotel is Quarumanu area.
---------------------
Retrieving Results for Index 10:qaanaaq.
Closest hotel is Qaanaaq Hotel.
---------------------
Retrieving Results for Index 11:pevek.
Closest hotel is Munitsipal'naya Gostinitsa.
---------------------
Retrieving Results for Index 12:noumea.
Closest hotel is Hilton Noumea La Promenade Residences.
---------------------
Retrieving Results for Index 13:ushuaia.
Closest hotel is Los Cauquenes Resort & Spa.
---------------------
Retrieving Results for Index 14:puerto ayora.
Closest hotel is Angermeyer Waterfront Inn.
---------------------
Retrieving Results for Index 15:souillac.
Closest hotel is Shanti Maurice Resort & Spa.
---------------------
Retrieving Results for Index 16:busselton.
Closest hotel is Fairlawn Estate.
---------------------
Retrieving Results for Index 17:rikitea.
Closest hotel is Pension Maro'i.
---------------------
Retrieving Results for Index 18:victoria.
Closest hotel is The Harbourview.
---------------------
Retrieving Results for Index 19:iranshahr.
Closest hotel is Ù‡ØªÙ„ Ùˆ Ø±Ø³ØªÙˆØ±Ø§Ù† Ù‚ØµØ±.
---------------------
Retrieving Results for Index 20:talnakh.
Closest hotel is Talnakh Hotel.
---------------------
Retrieving Results for Index 21:bambous virieux.
Closest hotel is Laguna Beach Hotel & Spa.
---------------------
Retrieving Results for Index 22:longyearbyen.
Closest hotel is Radisson Blu Polar Hotel, Spitsbergen.
---------------------
Retrieving Results for Index 23:tautira.
Missing Field/result...skipping.
---------------------
Retrieving Results for Index 24:yumen.
Missing Field/result...skipping.
---------------------
Retrieving Results for Index 25:tuktoyaktuk.
Closest hotel is Hunter's B&B.
---------------------
Retrieving Results for Index 26:carnarvon.
Closest hotel is Carnarvon Motel.
---------------------
Retrieving Results for Index 27:thompson.
Closest hotel is Quality Inn & Suites Thompson.
---------------------
Retrieving Results for Index 28:butaritari.
Missing Field/result...skipping.
---------------------
Retrieving Results for Index 29:vila franca do campo.
Closest hotel is A Villa by the Sea.
---------------------
Retrieving Results for Index 30:kalmunai.
Closest hotel is LUXEZ garden house.
---------------------
Retrieving Results for Index 31:cape town.
Closest hotel is Atlanticview Cape Town Boutique Hotel.
---------------------
Retrieving Results for Index 32:adrar.
Missing Field/result...skipping.
---------------------
Retrieving Results for Index 33:novomykolayivka.
Missing Field/result...skipping.
---------------------
Retrieving Results for Index 34:yellowknife.
Closest hotel is The Explorer Hotel.
---------------------
Retrieving Results for Index 35:atuona.
Closest hotel is CHALETS HANAKEE.
---------------------
Retrieving Results for Index 36:belmonte.
Closest hotel is Pousada Belmonte.
---------------------
Retrieving Results for Index 37:broken hill.
Closest hotel is Royal Exchange Hotel.
---------------------
Retrieving Results for Index 38:upernavik.
Closest hotel is CafÃ© de Upernavik.
---------------------
Retrieving Results for Index 39:puerto carreno.
Closest hotel is Hotel en Leticia Amazonas.
---------------------
Retrieving Results for Index 40:cherskiy.
Missing Field/result...skipping.
---------------------
Retrieving Results for Index 41:chokurdakh.
Missing Field/result...skipping.
---------------------
Retrieving Results for Index 42:dikson.
Missing Field/result...skipping.
---------------------
Retrieving Results for Index 43:ponta do sol.
Closest hotel is Estalagem Da Ponta Do Sol.
---------------------
Retrieving Results for Index 44:bluff.
Closest hotel is Land's End Boutique Hotel.
---------------------
Retrieving Results for Index 45:saskylakh.
Missing Field/result...skipping.
---------------------
Retrieving Results for Index 46:bismarck.
Closest hotel is Home2 Suites By Hilton Bismarck.
---------------------
Retrieving Results for Index 47:contamana.
Closest hotel is Hotel Mechita.
---------------------
Retrieving Results for Index 48:butembo.
Closest hotel is Hotel Ivatsiro.
---------------------
Retrieving Results for Index 49:bathsheba.
Closest hotel is ECO Lifestyle & Lodge.
---------------------
-------- Search Completed--------

In [43]:
hotels_df['Hotel Name'].replace('', np.nan, inplace=True)
hotels_df.dropna(subset=['Hotel Name'], inplace = True)
hotels_df

,City,Latitude,Longitude,Hotel Name
1,bengkulu,-3.80,102.27,Mercure Bengkulu
2,matata,-37.88,176.75,Matata Hotel
3,cayenne,4.93,-52.33,Royal Amazonia
4,barrow,71.29,-156.79,Top of the World Hotel
5,ribeira grande,38.52,-28.70,Quinta Das BuganvÃ­lias
6,kolosovka,56.47,73.61,Kolosovskaya Gostinitsa
7,avarua,-21.21,-159.78,Manuia Beach Resort
9,isangel,-19.55,169.27,Quarumanu area
10,qaanaaq,77.48,-69.36,Qaanaaq Hotel
11,pevek,69.70,170.31,Munitsipal'naya Gostinitsa
12,noumea,-22.28,166.46,Hilton Noumea La Promenade Residences
13,ushuaia,-54.80,-68.30,Los Cauquenes Resort & Spa
14,puerto ayora,-0.74,-90.35,Angermeyer Waterfront Inn
15,souillac,-20.52,57.52,Shanti Maurice Resort & Spa
16,busselton,-33.65,115.33,Fairlawn Estate
17,rikitea,-23.12,-134.97,Pension Maro'i
18,victoria,22.29,114.16,The Harbourview
19,iranshahr,27.20,60.68,Ù‡ØªÙ„ Ùˆ Ø±Ø³ØªÙˆØ±Ø§Ù† Ù‚ØµØ±
20,talnakh,69.49,88.40,Talnakh Hotel
21,bambous virieux,-20.34,57.76,Laguna Beach Hotel & Spa
22,longyearbyen,78.22,15.64,"Radisson Blu Polar Hotel, Spitsbergen"
25,tuktoyaktuk,69.45,-133.04,Hunter's B&B
26,carnarvon,-24.87,113.63,Carnarvon Motel
27,thompson,55.74,-97.86,Quality Inn & Suites Thompson
29,vila franca do campo,37.72,-25.43,A Villa by the Sea
30,kalmunai,7.42,81.82,LUXEZ garden house
31,cape town,-33.93,18.42,Atlanticview Cape Town Boutique Hotel
34,yellowknife,62.46,-114.35,The Explorer Hotel
35,atuona,-9.80,-139.03,CHALETS HANAKEE
36,belmonte,-15.86,-38.88,Pousada Belmonte
37,broken hill,-31.95,141.43,Royal Exchange Hotel
38,upernavik,72.79,-56.15,CafÃ© de Upernavik
39,puerto carreno,6.19,-67.49,Hotel en Leticia Amazonas
43,ponta do sol,32.67,-17.10,Estalagem Da Ponta Do Sol
44,bluff,-46.60,168.33,Land's End Boutique Hotel
46,bismarck,46.81,-100.78,Home2 Suites By Hilton Bismarck
47,contamana,-7.33,-75.02,Hotel Mechita
48,butembo,0.15,29.28,Hotel Ivatsiro
49,bathsheba,13.22,-59.52,ECO Lifestyle & Lodge

In [44]:
#Assign Marker Layer
locations_2 = hotels_df[['Latitude','Longitude']]
markers = gmaps.marker_layer(locations_2)

#Template to add hotel marks
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
</dl>
"""
#Store Dataframe Row
hotels_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]

#Add Marker layer and info box
markers = gmaps.marker_layer(locations_2, info_box_content = hotels_info)

#Add layer to map
fig.add_layer(markers)

#display
fig

Figure(layout=FigureLayout(height='420px'))